.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/*.wrapper:nth-child(odd) {*/
/*    justify-content: flex-end;*/
/*}*/

.icon_wrapper {
    width: 40px;
    height: 40px;
}

.icon {
    width: 50px;
}

.description_container {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 24px;
    font-weight: 500;
}

.title {
    font-weight: 300;
max-width: 278px;
}